*{
    margin: 0;

}
body{
    background-color: olive;
}
.main{
    display: block;
    margin: 3% 5%;
    border: 1px solid white;
    border-radius: 5px;
    justify-content: center;
    background-color: white;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin: 2%;
}
.open{
    font-size: 18px;
    font-weight: lighter;
    font-family: sans-serif;
}
.mail{
    font-size: 16px;
    
    font-family: sans-serif;
}
.logoname{
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}
.logo{
    margin-top:10px;
    width: 60px;
}
.logocon {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    
}
.logocon a{
    text-decoration: none;

}
.logocon h3{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 800;
}
.logocon h4{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.nav{
    margin-top: 50px;

}
.nav a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.bac1{
    background-color: rgba(50,50,50,0.5);
    height: 200px;
    
    padding:5px 0 50px 10px;
    /* margin-top: 50px; */
    /* width: 99.3% */
}
.bac2{
    background-color:whitesmoke;
    width: fit-content;
    margin-top:100px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.head{
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
.bac3{
    background-color: rgba(50,50,50,0.1);
    height: 50px;
    margin-bottom: 20px;
}
.bhead{
    padding:25px;
    padding-left: 60px;
    /* margin-bottom: 50px; */
}
.para{
    padding:25px 50px 50px 50px;
    line-height: 1.5;
    text-align: justify;
    font-size: 16px;
}
.para h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    margin-bottom: 20px;
}
.hr{
    width: 21%;
    margin-top: -10px;
    margin-bottom: 10px;
    height: 3px;
    background-color: blue;
}
.footer{
    background-color: rgba(33, 32, 32, 0.8);
    padding: 25px;
    height: 150px;
}
.footer h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: aliceblue;

}
.hr2{
    width: 15%;
    height: 2px;
    background-color: rgb(42, 130, 165);
    margin-top: 5px;
    margin-bottom: 10px;
}
.cp {
    font-size: 14px;
    color: rgba(252, 247, 247, 0.4);
}
.add{
    line-height: 1.4;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: aliceblue;
}
.copy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(35, 33, 33, 0.9);
    width: 100%;
    height: 50px;
    /* padding: 20px; */
    padding-top: 20px;
    margin-bottom: 10px;
    
}
.copy a{
    text-decoration: none;
    color: rgba(252, 247, 247, 0.4);
    font-size: 15px;
}

/* for gallery */
.img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}

/* for services */
.sec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}